server:
  port: 8082

spring:
  application:
    name: main-service

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%X{requestId}] %-5level %logger{36} - %msg%n"